.plan{
    background: linear-gradient(to right, #3498db, #e91e63);
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    margin-left: 1200px;
    /* margin-top: 15px; */
}

.planButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.plan:hover {
    opacity: 0.8;
}