.animated-background {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust based on the container */
    overflow: hidden;
  }
  
  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    /* background: radial-gradient(circle, #131c66, #6f1360, #350443, #de63a1); */

    background: radial-gradient(circle, #131c66, #000000, #b37df1);

    background-size: 300% 300%;
    animation: animate-gradient 8s infinite ease-in-out;
    z-index: -1;
  }
  
  @keyframes animate-gradient {
    0% {
      transform: translate(-50%, -50%);
      background-position: 0% 50%;
    }
    50% {
      transform: translate(0%, 0%);
      background-position: 100% 50%;
    }
    100% {
      transform: translate(-50%, -50%);
      background-position: 0% 50%;
    }
  }
  