.headers{
    width: 100%;
    height: auto; 
    color: white;
    display: flex;   
}

.name{
    padding-left: 60px;
    /* font: 1em sans-serif; */
    font: 1em sans;
    font-size: 30px;
    font-weight: 100;
}